
body{
  background-color: rgb(197, 238, 225);
}
.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 5% auto;
  background-color: rgb(215, 255, 255);
  padding: 25px;
  padding-top: 36px;
  border-radius: 20px;
  border: 2px solid rgb(170, 216, 170);
}

.heading {
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  font-family: "Merriweather", serif;
  font-size: 45px;
  color: rgb(35, 90, 72);
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;

  padding: 10px;
  border: 1px solid gray;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.searchInput {
  font-family: "Merriweather", serif;
  color: #224946;
  font-size: 16px;
  font-weight: 300;
  flex: 1;
  padding: 8px;
  margin-right: 10px;
}

.searchButton {
  padding: 8px 16px;
  background-color: #4a7773;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resultsList {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  list-style-type: none;
  padding: 0;
}

.resultItem {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.resultText {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
  color: rgb(82, 175, 144);
}
